//Main about styles
.aboutSection{
	padding-top: 50px;
	padding-right: 50px;
	max-width: 1200px;
	padding-left: 270px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 14px;
	a{
		text-transform: none;
	}
}

//Top half of info page
.about{ //Top half of 'About Page'
	line-height: 18px;
	display: flex;
	flex-direction: row wrap;
	color: #4f4f4f;
	.picture{
		width: 25%;
	}
}
.about h4{
	color: #000;
}
.about.bottom{
	display: flex;
	flex-direction: row wrap;
	.events{
		width: 25%;
	}
}
.about .info{
	width: 75%;
	padding-left: 10px;
}
.about .clients{
	width: 75%;
	padding-left: 10px;
}

//Press Section
.press{
	border-top: 1px solid #4f4f4f;
	border-bottom: 1px solid #4f4f4f;
}
.screenshots{
	display: flex;
	flex: row wrap;
	.image{
		width:33.33%;
		padding: 10px;
	}
	img{
		width: 100%;
	}
}
//Instagram feed section 

.instaFeed{
	width: 100%;
}
iframe {
	width: 100%;
	height: 475px;
}
