.blogs {
	padding-left: 300px;
	// max-width: 50%;
}

.active{
        z-index:99;
    }
.slideshow{
	position: relative;
	width: 70%;
	top: -65px;
}
.slideshow img{
	width: 100%;
	position: absolute;
	top: 100px;
	left: 300px;
}
