//Blog styles
.content {
  width:65%;
  margin-left: 250px; //changed from 30%? is this better or worse re responsive design?
  padding-top: 40px;
  padding-left: 40px;
}
.content p{
  font-family: 'Times New Roman', serif;
}
.content h1{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.entry-meta{
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}
.entry-utility{
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}
.entry-title{
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.container.blogs{
	padding-top: 40px;
	padding-right: 50px;
	max-width: 1200px;
}
.container.blogs p{
	font-family: 'Times New Roman', serif;
}
.container a{
	color: #4f4f4f;
	&:hover{
		color: #000;
	}
}
.blogs {
	padding-left: 300px;
}