.entry-title{
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}
.entry-utility{
	font-family: 'Times New Roman', Times, serif;
	font-size: 14px;
}
.container.blogs{
	padding-top: 40px;
	padding-right: 50px;
	max-width: 1200px;
}
.container.blogs p{
	font-family: 'Times New Roman', serif;
}
.container a{
	color: #4f4f4f;
	&:hover{
		color: #000;
	}
}
