
// HEADER / SIDEBAR STYLES //

.flexboxColumn {
	display: flex;
	flex-direction: column;

}


nav {
	background: white;
	width: 250px;
	float: left;
	height: 100vh;
	align-items: center;
	justify-content: space-between;
	position: fixed;

	a {
		color: #939498;
	}
	
	.navTop {

		border-bottom: 1px solid #939498;
		margin: 0 20px 0p 20px;
		padding-bottom: 40px;

		 ul {
				display: flex;
				flex-direction: column;

				li a {
					background: #ffffff;
					color: #939498;
					padding: 0;
				}

			}

	}
	


	.navBottom p {
		margin: 0;
	}
}

.sup {
	color: red;
}
	